body {
  font-family: "Roboto", sans-serif;
  color: var(--headers-color);
}

:root {
  --logo-color: #212121;
  --logo-sec-color: #2196f3;
  --contact-color: #757575;
  --text-color: #ffffff;
  --paragraph-color: #757575;
  --headers-color: #212121;
  --background-color: #e5e5e5;
  --background-nav-color: #ffffff;
  --background-section-color: #2f303a;
  --background-photos-color: #f5f4fa;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-decoration: none;
  color: var(--logo-color);
}
.link:hover,
.link:focus {
  color: var(--logo-sec-color);
}

.control-list {
  list-style-type: none;
}

.logo-front {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-sec-color);
  font-weight: 700;
}
.logo-back {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  line-height: 31px;
  border: radius 4px;
  color: var(--logo-color);
  font-weight: 700;
}

.link > .contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: var(--contact-color);
  text-emphasis: none;
  text-decoration: none;
}

.link > .contact-link:hover,
.contact.link:focus {
  color: var(--logo-sec-color);
}

.first-section {
  background-color: var(--background-section-color);
  width: 1600px;
  height: 600px;
}

.header-primary {
  font-size: 44px;
  height: 120px;
  width: 696px;
  left: 452px;
  top: 280px;
  border-radius: nullpx;

  line-height: 1.36;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  color: var(--text-color);
}

.first-section > button {
  background-color: var(--logo-sec-color);
  border: none;
  color: var(--text-color);
  text-align: center;
  position: absolute;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.88;
  font-family: "Roboto", sans-serif;
}

.button {
  cursor: pointer;
}

.paragraphs-list {
  list-style-type: none;
}

.header-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--headers-color);
}
.paragraph-items {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--paragraph-color);
  height: 75px;
  width: 270px;
  left: 215px;
  top: 800px;
  border-radius: nullpx;
}
.images-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.images-list {
  list-style-type: none;
}
.our-team {
  height: 648px;
  width: 1600px;
  border-radius: 0px;
  background-color: var(--background-photos-color);
}
.person-list {
  list-style-type: none;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
